%ul#tab-nav.horizontal
  %li= link_to "Performance", "#", :class => "selected"
  %li= link_to "District Summary", "#"
  %li= link_to "Costing", "#"
  %li= link_to "Facility Count", "#"
  %li= link_to "Map", "#"