
.main
  = render "partials/tab-nav"

  %p.show-question-help.moved
    = link_to 'Show tips', '#'
  .question-help-container
    .question-help
      = link_to 'Close tips', '#', :class => 'hide-question-help'
      Some help information for the Performance tab

  %ul#questions
    %li.question
      %h4.section-title
        %span.question-default
          = image_tag("icons/star_small.png")
        FACILITY COUNT REPORT (Geogrpahical Access x Rwanda)

  .selector
    %span Report Type:
    %select
      %option Access to power

    %table.listing.push-top-10.push-20
      %thead
        %tr
          %th Location
          %th Option 1
          %th Option 2
          %th Option 3

      %tbody
        %tr
          %td Kigali
          %td 40%
          %td 30%
          %td 30%
        %tr
          %td North
          %td 40%
          %td 30%
          %td 30%
        %tr
          %td South
          %td 40%
          %td 30%
          %td 30%
        %tr
          %td East
          %td 40%
          %td 30%
          %td 30%
        %tr
          %td West
          %td 40%
          %td 30%
          %td 30%
        %tr.total
          %td RWANDA
          %td 40%
          %td 30%
          %td 30%

  %ul#questions
    %li.question
      %h4.section-title
        %span.question-default
          = image_tag("icons/marker_small.png")
        ACCESS TO POWER
  %p
    Facility types: District Hospital, Health Center
  %br
  %table.vertical-graph
    %tbody
      %tr
        %td
          .js_bar_vertical.tooltip.bar1{:title => "80%", :data => {:percentage => "80"}}
          .js_bar_vertical.tooltip.bar2{:title => "30%", :data => {:percentage => "30"}}
          .js_bar_vertical.tooltip.bar3{:title => "50%", :data => {:percentage => "50"}}
        %td
          .js_bar_vertical.tooltip.bar1{:title => "80%", :data => {:percentage => "80"}}
          .js_bar_vertical.tooltip.bar2{:title => "30%", :data => {:percentage => "30"}}
          .js_bar_vertical.tooltip.bar3{:title => "50%", :data => {:percentage => "50"}}
        %td
          .js_bar_vertical.tooltip.bar1{:title => "80%", :data => {:percentage => "80"}}
          .js_bar_vertical.tooltip.bar2{:title => "30%", :data => {:percentage => "30"}}
          .js_bar_vertical.tooltip.bar3{:title => "50%", :data => {:percentage => "50"}}
        %td
          .js_bar_vertical.tooltip.bar1{:title => "80%", :data => {:percentage => "80"}}
          .js_bar_vertical.tooltip.bar2{:title => "30%", :data => {:percentage => "30"}}
          .js_bar_vertical.tooltip.bar3{:title => "50%", :data => {:percentage => "50"}}
        %td
          .js_bar_vertical.tooltip.bar1{:title => "80%", :data => {:percentage => "80"}}
          .js_bar_vertical.tooltip.bar2{:title => "30%", :data => {:percentage => "30"}}
          .js_bar_vertical.tooltip.bar3{:title => "50%", :data => {:percentage => "50"}}
        %td
          .js_bar_vertical.tooltip.bar1{:title => "80%", :data => {:percentage => "80"}}
          .js_bar_vertical.tooltip.bar2{:title => "30%", :data => {:percentage => "30"}}
          .js_bar_vertical.tooltip.bar3{:title => "50%", :data => {:percentage => "50"}}

      %tr
        %td
          Rwanda
        %td
          Kigali
        %td
          North
        %td
          South
        %td
          East
        %td
          West

  %ul.chart_legend
    %li
      %span.bar1
      Option 1
    %li
      %span.bar2
      Option 2
    %li
      %span.bar3
      Option 3
