.main
  = render "partials/tab-nav"

  %p.show-question-help.moved
    = link_to 'Show tips', '#'
  .question-help-container
    .question-help.push-20
      = link_to 'Close tips', '#', :class => 'hide-question-help'
      Some help information for the Performance tab

  %ul#questions.clearfix
    %li.question.push-20
      %h4.section-title
        %span.question-default
          = image_tag("icons/star_small.png")
        All Strategic Programs

      .selector.right
        %span Compare Vs.
        %select
          %option Please select
          
      .horizontal-graph-wrap
        %table.horizontal-graph
          %thead
            %tr
              %th Strategic Objective
              %th Score
              %th

          %tbody
            %tr
              %td= link_to "Drugs Vaccines Consumables"
              %td 71%
              %td
                .js_bar_horizontal.tooltip.horizontal-bar{:title => "71%", :data => {:percentage => "71"}}
                .js_bar_horizontal.tooltip.horizontal-bar-avg{:title => "avg 45%", :data => {:percentage => "45"}}
            %tr
              %td= link_to "Human Resources"
              %td 56%
              %td
                .js_bar_horizontal.tooltip.horizontal-bar{:title => "56%", :data => {:percentage => "56"}}
                .js_bar_horizontal.tooltip.horizontal-bar-avg{:title => "avg 93%", :data => {:percentage => "93"}}
            %tr
              %td= link_to "Geographical Acccess"
              %td 91%
              %td
                .js_bar_horizontal.tooltip.horizontal-bar{:title => "91%", :data => {:percentage => "91"}}
                .js_bar_horizontal.tooltip.horizontal-bar-avg{:title => "avg 66%", :data => {:percentage => "66"}}
            %tr
              %td= link_to "Service Delivery"
              %td 79%
              %td
                .js_bar_horizontal.tooltip.horizontal-bar{:title => "79%", :data => {:percentage => "79"}}
                .js_bar_horizontal.tooltip.horizontal-bar-avg{:title => "avg 58%", :data => {:percentage => "58"}}
            %tr
              %td= link_to "Institutional Capacity"
              %td 32%
              %td
                .js_bar_horizontal.tooltip.horizontal-bar{:title => "32%", :data => {:percentage => "32"}}
                .js_bar_horizontal.tooltip.horizontal-bar-avg{:title => "avg 63%", :data => {:percentage => "63"}}
            %tr
              %td= link_to "Quality Assurance"
              %td 4%
              %td
                .js_bar_horizontal.tooltip.horizontal-bar{:title => "4%", :data => {:percentage => "4"}}
                .js_bar_horizontal.tooltip.horizontal-bar-avg{:title => "avg 5%", :data => {:percentage => "5"}}
            %tr
              %td= link_to "Financial Access"
              %td 14%
              %td
                .js_bar_horizontal.tooltip.horizontal-bar{:title => "14%", :data => {:percentage => "14"}}
                .js_bar_horizontal.tooltip.horizontal-bar-avg{:title => "avg 22%", :data => {:percentage => "22"}}

        //.horizontal-graph-average
        //  .horizontal-graph-tip.tooltip{:style => "left: 63%;", :title => "63%", :data => {:percentage => "63"}} ?
        //  .horizontal-graph-marker

    %li.question.push-10
      %h4.section-title
        %span.question-default
          = image_tag("icons/marker_small.png")
        Rwanda

      .selector.right
        %span Compare Vs.
        %select
          %option Please select
          
      .horizontal-graph-wrap
        %table.horizontal-graph
          %thead
            %tr
              %th Strategic Objective
              %th Score
              %th

          %tbody
            %tr
              %td= link_to "Drugs Vaccines Consumables"
              %td 71%
              %td
                .js_bar_horizontal.tooltip.horizontal-bar{:title => "71%", :data => {:percentage => "71"}}
                .js_bar_horizontal.tooltip.horizontal-bar-avg{:title => "avg 64%", :data => {:percentage => "64"}}
            %tr
              %td= link_to "Human Resources"
              %td 56%
              %td
                .js_bar_horizontal.tooltip.horizontal-bar{:title => "56%", :data => {:percentage => "56"}}
                .js_bar_horizontal.tooltip.horizontal-bar-avg{:title => "avg 53%", :data => {:percentage => "53"}}
            %tr
              %td= link_to "Geographical Acccess"
              %td 91%
              %td
                .js_bar_horizontal.tooltip.horizontal-bar{:title => "91%", :data => {:percentage => "91"}}
                .js_bar_horizontal.tooltip.horizontal-bar-avg{:title => "avg 85%", :data => {:percentage => "85"}}
            %tr
              %td= link_to "Service Delivery"
              %td 79%
              %td
                .js_bar_horizontal.tooltip.horizontal-bar{:title => "79%", :data => {:percentage => "79"}}
                .js_bar_horizontal.tooltip.horizontal-bar-avg{:title => "avg 62%", :data => {:percentage => "62"}}
            %tr
              %td= link_to "Institutional Capacity"
              %td 32%
              %td
                .js_bar_horizontal.tooltip.horizontal-bar{:title => "32%", :data => {:percentage => "32"}}
                .js_bar_horizontal.tooltip.horizontal-bar-avg{:title => "avg 54%", :data => {:percentage => "54"}}
            %tr
              %td= link_to "Quality Assurance"
              %td 4%
              %td
                .js_bar_horizontal.tooltip.horizontal-bar{:title => "4%", :data => {:percentage => "4"}}
                .js_bar_horizontal.tooltip.horizontal-bar-avg{:title => "avg 47%", :data => {:percentage => "47"}}
            %tr
              %td= link_to "Financial Access"
              %td 14%
              %td
                .js_bar_horizontal.tooltip.horizontal-bar{:title => "14%", :data => {:percentage => "14"}}
                .js_bar_horizontal.tooltip.horizontal-bar-avg{:title => "avg 16%", :data => {:percentage => "16"}}
                
        //.horizontal-graph-average
        //  .horizontal-graph-tip.tooltip{:style => "left: 63%;", :title => "63%", :data => {:percentage => "63"}} ?
        //  .horizontal-graph-marker
