.main
  = render "partials/tab-nav"

  %p.show-question-help.moved
    = link_to 'Show tips', '#'
  .question-help-container
    .question-help
      = link_to 'Close tips', '#', :class => 'hide-question-help'
      Some help information for the Performance tab

  %ul#questions.clearfix
    %li.question.push-20
      %h4.section-title
        %span.question-default
          = image_tag("icons/star_small.png")
        All Strategic Programs

      .selector.right
        %span Compare Vs.
        %select
          %option Rwanda

      %table.horizontal-graph
        %thead
          %tr
            %th Strategic Objective
            %th Score
            %th

        %tbody
          %tr
            %td Drugs Vaccines Consumables
            %td 71%
            %td
              .js_bar_horizontal.tooltip.horizontal-bar{:title => "71%", :data => {:percentage => "71"}}
          %tr
            %td Human Resources
            %td 56%
            %td
              .js_bar_horizontal.tooltip.horizontal-bar{:title => "56%", :data => {:percentage => "56"}}
          %tr
            %td Geographical Acccess
            %td 91%
            %td
              .js_bar_horizontal.tooltip.horizontal-bar{:title => "91%", :data => {:percentage => "91"}}
          %tr
            %td Service Delivery
            %td 79%
            %td
              .js_bar_horizontal.tooltip.horizontal-bar{:title => "79%", :data => {:percentage => "79"}}
          %tr
            %td Institutional Capacity
            %td 32%
            %td
              .js_bar_horizontal.tooltip.horizontal-bar{:title => "32%", :data => {:percentage => "32"}}
          %tr
            %td Quality Assurance
            %td 4%
            %td
              .js_bar_horizontal.tooltip.horizontal-bar{:title => "4%", :data => {:percentage => "4"}}
          %tr
            %td Financial Access
            %td 14%
            %td
              .js_bar_horizontal.tooltip.horizontal-bar{:title => "14%", :data => {:percentage => "14"}}

    %li.question.push-10
      %h4.section-title
        %span.question-default
          = image_tag("icons/marker_small.png")
        Rwanda

      .selector.right
        %span Compare Vs.
        %select
          %option Rwanda

      %table.horizontal-graph
        %thead
          %tr
            %th Strategic Objective
            %th Score
            %th

        %tbody
          %tr
            %td Drugs Vaccines Consumables
            %td 71%
            %td
              .js_bar_horizontal.tooltip.horizontal-bar{:title => "71%", :data => {:percentage => "71"}}
          %tr
            %td Human Resources
            %td 56%
            %td
              .js_bar_horizontal.tooltip.horizontal-bar{:title => "56%", :data => {:percentage => "56"}}
          %tr
            %td Geographical Acccess
            %td 91%
            %td
              .js_bar_horizontal.tooltip.horizontal-bar{:title => "91%", :data => {:percentage => "91"}}
          %tr
            %td Service Delivery
            %td 79%
            %td
              .js_bar_horizontal.tooltip.horizontal-bar{:title => "79%", :data => {:percentage => "79"}}
          %tr
            %td Institutional Capacity
            %td 32%
            %td
              .js_bar_horizontal.tooltip.horizontal-bar{:title => "32%", :data => {:percentage => "32"}}
          %tr
            %td Quality Assurance
            %td 4%
            %td
              .js_bar_horizontal.tooltip.horizontal-bar{:title => "4%", :data => {:percentage => "4"}}
          %tr
            %td Financial Access
            %td 14%
            %td
              .js_bar_horizontal.tooltip.horizontal-bar{:title => "14%", :data => {:percentage => "14"}}

